.text-navbar {
    color: white;
    margin: 0px 10px 0px 10px;

}

.text-navbar a{
    color: white;
    text-decoration: none;
}

.text-navbar :hover{
    cursor: pointer;
    color: #A7C7E7;
    font-size: 18px;
}

.color-navbar{
    background-color: #6495ED;
    box-shadow: 5px 5px 10px #6082B6, 
            5px 0 blue;
    width: 100%;
}

.titulo-navbar{
    margin-left: 20px;
    margin-right: 5%;
}